/* Styles par défaut pour le mode clair */
body {
    background-color: #fff;
    color: #333;
}

/* Styles pour le mode sombre */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }

    /* Autres styles spécifiques au mode sombre */
}
